$primary-color: #002947;
$secondary-color: #E47C29;
$white-color: #fff;
$light-white-color: rgba($white-color, 0.3);
$gray-color: #E4E4E4;
$dark-gray-color:#474747;
$cyan-color: #00B2DB;
$text-gray-color:#5E7484;
$light-primary-color:#024B5C;
$black-color:#000;
$light-black-color: rgba($black-color, 0.3);
$border-color:rgba(95,95,95,0.1);

